# Segmenting and Clustering Neighborhoods in Toronto

Part 1 of week 3 assignment:

In [19]:
import pandas as pd
import numpy as np
import requests
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
p = requests.get(url)

In [20]:
df_html = pd.read_html(url, header=0, na_values = ['Not assigned'])[0]
df_html.dropna(subset=['Borough'], inplace=True)

In [21]:
n_empty = df_html[df_html['Neighbourhood'].isna()].shape[0]
n_empty

1

In [26]:
df_html[df_html['Neighbourhood'].isna()]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [27]:
df_html['Neighbourhood'].fillna(df_html['Borough'], inplace=True)

In [28]:
df_final = df_html.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_final.reset_index(inplace=True)

In [29]:
df_final.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [30]:
df_final.shape

(103, 3)