# Segmenting and Clustering Neighborhoods in Toronto - 1

Part 1 of week 3 assignment:

In [18]:
import pandas as pd
import numpy as np
import requests
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
p = requests.get(url)

In [12]:
df_html = pd.read_html(url, header=0, na_values = ['Not assigned'])[0]
df_html.dropna(subset=['Borough'], inplace=True)

In [13]:
n_empty = df_html[df_html['Neighbourhood'].isna()].shape[0]
n_empty

1

In [14]:
df_html[df_html['Neighbourhood'].isna()]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park           NaN

In [15]:
df_html['Neighbourhood'].fillna(df_html['Borough'], inplace=True)

In [16]:
df_postcodes = df_html.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_postcodes.reset_index(inplace=True)

In [17]:
df_postcodes.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae